/**
 * @name Minicord
 * @description Shrinks and/or minimizes discord elements.
 * @author BranFlakes
 * @version 9.0.0
 * @invite
 * @website
 * @source https://github.com/NewBranFlakes/minicord
 * @authorId
 * @authorLink
*/

:root {
    --transition-speed: 0.3s;
    --transition-style: cubic-bezier(0.5, 0, 0.5, 1);
    --transition-delay-enter: 0s;
    --transition-delay-exit: 0s;

    --background-quaternary: color-mix(in srgb, var(--background-tertiary) 100%, rgba(0, 0, 0, 1) 25%);
    --background-primary-lighter: color-mix(in srgb, var(--background-primary) 100%, rgba(calc(128*0.5), calc(128*0.5), calc(128*0.5 + 4), 1) 25%);
}

.appMount__51fd7 *:not(.embedWrapper_b7e1cb):not(.closeButton_c2b141) {
    border: none !important;
}

.sidebar_c48ade::after {
    display: none !important;
}

/* .tabBody__133bf {
    background: black !important;
    background-color: black !important;
} */

.members_c8ffbb, .container__9293f, .container__2637a, .member_c8ffbb, .container__7d20c, .scroller__99e7c, .privateChannels__35e86, .searchBar__5ec2f  {
    background: var(--bg-overlay-2) !important;
    background-color: var(--background-secondary) !important;
}

.chatContent_f75fb0, .searchBar__97492, .peopleList__5ec2f, .searchBar__5ec2f  {
    background: var(--bg-overlay-4) !important;
    background-color: var(--background-tertiary) !important;
}

.itemsContainer_ef3116, .bg__960e4 {
    background: var(--bg-overlay-1) !important;
    background-color: var(--background-quaternary) !important;
}

.channelTextArea_f75fb0 {
    background: var(--bg-overlay-floating) !important;
    background-color: var(--background-primary-lighter) !important;
}
